<!doctype html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="AngJep">
    <section ng-controller="gmainController">
    <h1>Angular Jeopardy</h1>
    

    <h2> {{ currQ }} </h2>


    <input type="text" placeholder="Type your guess here" ng-model="Uguess">
    <button id="subButt" ng-click="upDate()" >SUBMIT</button>

    <h3 id="result"> {{ result }} </h3>
    <h3 id="score"> {{ score }} </h3>
    <div id="results" >
        <p ng-repeat="response in answers">{{ response.question }} {{ response.correct }}</p>
    </div>
    </section>
</body>
</html>